@model FacultiesModel;
<nav aria-label="breadcrumb">
    <ol class="breadcrumb">
        <li class="breadcrumb-item"><a href="/">Home</a></li>
        <li class="breadcrumb-item"><a href="/Faculties/Index">Faculties</a></li>
        <li class="breadcrumb-item active" aria-current="page">@(Model.FacultyId == 0 ? "New Record" : "Update record")</li>
    </ol>
</nav>

<form asp-action="UpSert" asp-controller="Faculties" method="POST">
    <div asp-validation-summary="All">
        <i class=" bg-info bi-exclamation-triangle-fill"></i>
    </div>

    <input type="hidden" asp-for="FacultyId" value="@Model.FacultyId" placeholder="FacultyId" arial-label="FacultyId">

    <div asp-validation-summary="All">
        <i class=" bg-info bi-exclamation-triangle-fill"></i>
    </div>

    <div class="input-group mb-3">
        <span class="input-group-text" id="basic-addon1"><span class="fas fa-user"></span></span>
        <input type="text" class="form-control" asp-for="FacultyName" placeholder="Faculty Name" aria-label="Faculty Name">

    </div>


    <div class="input-group mb-3">
        <div class="form-check form-switch">
            <input class="form-check-input" asp-for="IsActive" type="checkbox" id="IsActive" checked>
            <label class="form-check-label" for="flexSwitchCheckChecked">Is Active</label>
        </div>
    </div>
    <button class=" btn btn-success" type="submit"><span class=" fas fa-save"></span>Guardar informacion</button>
</form>

@section Scripts {
    <partial name="_ValidationScriptsPartial" />
}